<ul class="event">
  <li class="event-title-container">
    <p class="event-name">{{name}}</p>
    <p class="event-time">{{time}}</p>
  </li>
  <li class="event-location-container">
    <p class="event-location">{{place}}</p>
    <p class="event-location-street">{{street}}</p>
    <p class="event-location-cityStateZip">{{cityStateZip}}</p>
  </li>
  <li>
    <p class="event-summary">{{summary}}</p>
  </li>
</ul>