<section class="hotel">
  <div class="hotel-address">
    <h4 class="hotel-name">{{name}}</h4>
    <p>{{street}}</p>
    <p>{{cityStateZip}}</p>
  </div>
  <p class="hotel-rate">{{rate}}</p>
  <p class="hotel-timeline">{{timeline}}</p>
  <div class="hotel-links">
    <a class="hotel-url" href="tel:+{{phone}}">
      <span class="glyphicon glyphicon-earphone"></span>
      <span class="hotel-left-pad">{{phone}}</span>
    </a><br>
    <a class="hotel-button-url hotel-button-url-info" href="{{websiteURL}}">WEBSITE</a>
    {{#if reserveURL}}
      <a class="hotel-button-url hotel-button-url-action" href="{{reserveURL}}">RESERVE</a>
    {{/if}}
  </div>
</section>